---
layout: default
title: "Home"
---

{% if site.show_excerpts %}
{% for post in site.posts %}
{% if post.type == "post" or post.type == nil %}
<article>
{% include meta.html post=post %}
{% if post.image %}<img src="{{ post.image | relative_url }}" alt="{{ post.title }}" style="max-width:100%;margin:1em 0;">{% endif %}
{{ post.excerpt }}
<footer class="button"><a href="{{ post.url | relative_url }}">read more</a></footer>
</article>
{% endif %}
{% endfor %}
{% else %}
{% capture source %}{% include_relative archive.html title="Posts" %}{% endcapture %}
{{ source | split: "---" | last }}
{% endif %}
